@charset "utf-8";

body{
    background-color: yellow;
}
.Baslık{
    font-size:25px;
    font-weight: bold;
    color: teal;
    text-decoration: underline;
}
#isim{
    padding-top: 10px;
    font-size: x-large;
    color: violet;

}